* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {

    width: 400px;
    /* height: 400px; */
    /* background-color: white; */
    color: black;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    background-image: linear-gradient(45deg, #2f4680,#500ae4);
}

.container h1 {
    font-size: 28px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.container input {

    padding: 5px 10px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
   color:#626262;
   background: #ebfffc;
   font-size: 18px;



}

.container input::placeholder {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.input_fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.input_fields button {
   
      padding: 10px 18px;
  
    border: none;
    outline: none;
    border-radius: 40px;
   color:#626262;
   background: #ebfffc;
   font-size: 18px;
}

.data {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.data p {
    font-size: 20px;
}
.icon img{
  
    width:150px;
   
}
.icon{
  display: flex;
  justify-content: center;
}
.temp{
    display: flex;
    justify-content: center;
    gap:15px;
   
}
.temp p{
     font-size: 14px;
}
.date{
    display: flex;
    justify-content: space-around;
   
}
.date p{
 font-size: 14px;
}
.speed{
    display: flex;
     justify-content:space-around;
     gap:25px;
     
}
.speed p{
     font-size: 14px;
}